.schedule-table{
  clear: both;
}

.schedule-rows td {
  width: 80px;
  height: 30px;
  margin: 3px;
  padding: 5px;
  background-color: #3498DB;
  cursor: pointer;
}

.schedule-rows td:first-child {
  background-color: transparent;
  text-align: right;
  position: relative;
}

.schedule-rows td[data-selected],
.schedule-rows td[data-selecting] { background-color: #E74C3C; }

.schedule-rows td[data-disabled] { opacity: 0.55; }

.time-slot[data-blocked="true"]{
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

.week-selector{
  text-align: center;
  height: 60px;
  margin-bottom: 40px;
}

.week-selector{
  font-size: 50px;
}

.week-selector .arrow{
  float: left;
  width: 5%;
  cursor: pointer;
}

.week-selector-text{
  width: 30%;
  float: left;
}